In [1]:
import numpy as np
import pandas as pd

In [2]:
# csv1 = "movie_data/movies.csv"
csv2 = "movie_data/ratings.csv"
csv3 = "movie_data/genome-scores.csv"
# csv4 = "movie_data/genome-tags.csv"
# csv5 = "movie_data/links.csv"
# csv6 = "movie_data/tags.csv"

In [3]:
# movies_df = pd.read_csv(csv1)
ratings_df = pd.read_csv(csv2)
genome_scores_df = pd.read_csv(csv3)

In [4]:
print(len(ratings_df))

25000095

In [5]:
print(len(genome_scores_df))

15584448

In [6]:
reduced_ratings_df = ratings_df.loc[(ratings_df['movieId'] < 10)]

In [7]:
reduced_genome_scores_df = genome_scores_df.loc[(genome_scores_df['movieId'] < 10)]

In [8]:
print(len(reduced_ratings_df))

149353

In [9]:
print(len(reduced_genome_scores_df))

10152

In [10]:
relevant_genomes = reduced_genome_scores_df.loc[reduced_genome_scores_df['relevance'] > .85]

In [11]:
new_df = reduced_ratings_df.merge(relevant_genomes, how="inner")
new_df.head()

   userId  movieId  rating   timestamp  tagId  relevance
0       2        1     3.5  1141415820     29    0.89375
1       2        1     3.5  1141415820     63    0.94725
2       2        1     3.5  1141415820     64    0.98425
3       2        1     3.5  1141415820    186    0.95475
4       2        1     3.5  1141415820    203    0.90375

In [12]:
new_df["rating"] = np.where(new_df["rating"] >= 3.5, 1, 0)

In [13]:
new_df.head()

   userId  movieId  rating   timestamp  tagId  relevance
0       2        1       1  1141415820     29    0.89375
1       2        1       1  1141415820     63    0.94725
2       2        1       1  1141415820     64    0.98425
3       2        1       1  1141415820    186    0.95475
4       2        1       1  1141415820    203    0.90375

In [14]:
print(len(new_df))

2194891

In [15]:
new_df.to_csv("movie_data/reduced.csv")