In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
csv1 = "movie_data/movies.csv"
csv2 = "movie_data/ratings.csv"
csv3 = "movie_data/genome-scores.csv"
csv4 = "movie_data/genome-tags.csv"

In [5]:
ratings_df = pd.read_csv(csv2)
genome_scores_df = pd.read_csv(csv3)
movies_df = pd.read_csv(csv1)
tags_df = pd.read_csv(csv4)

In [6]:
relevant_genomes = genome_scores_df.loc[genome_scores_df['relevance'] > .85]

In [7]:
new_df = ratings_df.merge(relevant_genomes, how="inner")
new_df.head()

   userId  movieId  rating   timestamp  tagId  relevance
0       1      296     5.0  1147880044    146    0.96200
1       1      296     5.0  1147880044    169    0.90625
2       1      296     5.0  1147880044    240    0.86375
3       1      296     5.0  1147880044    242    0.87350
4       1      296     5.0  1147880044    255    0.92250

In [8]:
new_df["rating"] = np.where(new_df["rating"] >= 3, 1, 0)
new_df.head()

   userId  movieId  rating   timestamp  tagId  relevance
0       1      296       1  1147880044    146    0.96200
1       1      296       1  1147880044    169    0.90625
2       1      296       1  1147880044    240    0.86375
3       1      296       1  1147880044    242    0.87350
4       1      296       1  1147880044    255    0.92250

In [11]:
movies_df['year'] = movies_df.title.str.extract('\((.*)\)')[0]
movies_df['release_year'] = movies_df['year'].str.split('(').str[-1]
movies_df = movies_df.drop(columns = ['year'])
movies_df.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [12]:
final_df = new_df.merge(movies_df, how="inner")

In [13]:
final_df = final_df.drop(columns = ['title','genres'])

In [14]:
final_df.head()

   userId  movieId  rating   timestamp  tagId  relevance release_year
0       1      296       1  1147880044    146    0.96200         1994
1       1      296       1  1147880044    169    0.90625         1994
2       1      296       1  1147880044    240    0.86375         1994
3       1      296       1  1147880044    242    0.87350         1994
4       1      296       1  1147880044    255    0.92250         1994

In [16]:
X = final_df.drop('rating', axis=1)
y = final_df['rating']

In [17]:
from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

#view transformed values
print(y_transformed)
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, random_state=1)

[1 1 1 ... 1 0 0]

In [1]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

NameError: name 'LogisticRegression' is not defined